.Navbar {
	font-size: 1px;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 24px 64px;
	background: $background-700;
	box-shadow: 0 4em 6em rgba(0, 0, 0, 0.2);
	gap: 42em;

	.Navbar-logo {
		width: 48em;
		height: 48em;
	}

	.Navbar-links {
		display: flex;
		align-items: center;
		gap: 32em;

		.link {
			color: $white-200;
			text-decoration: none;
			position: relative;

			.link-value {
				font-size: 18em;
			}

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 2em;
				bottom: 0em;
				left: 0;
				transform: scaleX(0);
				background: $white-200;
				transform-origin: bottom right;
				transition: transform 0.5s ease-out;
				border-radius: 10em;
			}
			&:hover:after {
				color: rgb(45, 54, 72);
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}

		.link-active {
			color: $white;

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 2em;
				bottom: 0em;
				left: 0;
				transform: scaleX(0);
				background: white;
				transform-origin: bottom right;
				transition: transform 0.5s ease-out;
				transform: scaleX(1);
				transform-origin: bottom left;
				border-radius: 10em;
			}
		}
	}
}