.About {
	display: flex;
	flex-direction: column;

	h1 {
		font-size: 28em;
		color: white;
		font-weight: 500;
	}

	.About-content {
		display: flex;
		flex-direction: column;
		margin-top: 12em;
		gap: 8em;
		p {
			font-size: 16em;
			color: $white-200;
		}
	}
}
