.Home {

	.Home-content {
		font-size: 1px;
		display: flex;
		flex-direction: column;
		height: calc(100vh - 96px - 60px);
		padding: 32em 64rem;
		overflow-y: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
}